$heading-font: Source Sans Pro;

$deep-teal: #136b62;

$light-seafoam: #ccdedc;

$whitesmoke: #f5f5f5;

$transparent-border: 3px solid transparent;

$correct-border: 3px outset #136b62;

$incorrect-border: 3px outset #9e0606;