.FlashcardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  height: 84vh;
  width: 60%;
  margin: 0px auto;
  overflow: scroll;
}

.all-flashcards-header {
  padding: 7% 7% 3% 7%;
}

@media screen and (max-width: 755px) {
  .FlashcardContainer {
    width: 90%;
    height: 60vh;
  }
}