.Flashcard {
  border: 3px solid transparent;
  border-radius: 5px;
  background-color: #ccdedc;
  width: 75%;
  margin: 10px 0px;
  padding: 28px;
}

.question-counter {
  text-align: right;
  font-size: 12px;
}

.flashcard-question {
  margin: 20px 0px;
}

.buttons-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.flashcard-buttons {
  padding: 10px;
}

.correct-answer {
  border: 3px solid #136b62;
}

.incorrect-answer {
  border: 3px solid #9e0606;
}

.mdn-link {
  font-size: 12px;

  &:hover {
    cursor: pointer;
  }

  &:visited {
    color: black;
  }
}

.hide {
  display: none;
}

.show {
  display: inline-block;
}