.NavBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(#0c4640, $deep-teal);
  padding: 20px 0px 30px 0px;
  
  .quizzy-title {
    font-size: 4rem;
    margin: 0px;
    padding-bottom: 20px;
    color: #fdf79b;
    letter-spacing: 15px;
  }
  
  .filter-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;

    .choose-category {
      font-weight: bold;
      color: #FFF;
      font-size: 16px;
    }
    
    .filter-button {
      padding: 5px;
      margin: 0px 10px;
      width: 25%;
    }
  }
}

.buttons {
  font-size: 13px;
  border-radius: 10px;
  transition: all 300ms ease;
  
  &:hover {
    cursor: pointer;
    background-color: $whitesmoke;
    box-shadow: 1px 1.5px 1px #9b9b9b;
  }
  &:focus {
    outline: 0;
  }
}

@media screen and (max-width: 755px) {
  .NavBar {
    padding: 10px 0px;
    
    .filter-section {
      flex-direction: column;

      .filter-button {
        margin: 10px 0px;
        width: 70%;
      }
    
      .choose-category {
        text-align: center;
      }
    }
  }

  .buttons {
    font-size: 12px;
  }
}