.NavBar {
  background-color: #136b62;
  padding: 20px 32px 32px 32px;
}

.quizzy-title {
  color: white;
  text-align: center;
  margin: 0px;
  padding-bottom: 20px;
}

.filter-category-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.choose-category {
  color: white;
  font-size: 14px;
}

.buttons {
  font-size: 12px;
  border-radius: 10px;
  margin: 0px 10px;
  
  &:hover {
    cursor: pointer;
  }  
  
  &:focus {
  }
}

.filters {
  padding: 5px;
}