.PlayerControl {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 80vh;
  background-color: whitesmoke;
  width: 30%;
  margin: auto;
}

.stats {
  text-align: center;
  font-size: 18px;
}

.view-incorrect-button,
.reset-button {
  width: 45%;

}